// Bootstrap
@import 'bootstrap';
@import 'bootstrap/scss/bootstrap';

// Start custom style.css
a {
    text-decoration: none;
}

ol, ul {
    padding-left: 0;
}

.header.shop .nav li a {
	color: #fff;
	text-transform: capitalize;
	font-size: 15px;
	padding: 20px 15px;
	font-weight: 500;
	display: block;
	position: relative;
    -webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
// End custom style.css


// Start custom reset.css
img,a,input,h1, h2, h3, h4, h5, h6{
	-webkit-transition:all 0.1s ease;
	-moz-transition:all 0.1s ease;
	transition:all 0.1s ease;
}
// End custom reset.css

// Start index
/*======================================
   Start Most Popular CSS
========================================*/
.pro-tab-viewmore-wrap {
	position: relative;
	text-align: center;
}
.most-popular .section-title{
	margin-bottom:40px;
}
.pro-tab-viewmore-wrap .pro-viewmore {
  position: absolute;
  right: 40px;
  top: 0;
}
.most-popular .single-product{
	margin:50px 15px 0 15px;
}
/* Slider Nav */
.most-popular .owl-nav{
	margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
	margin-top:-25px;
}
.most-popular .owl-carousel .owl-nav div {
	height: 60px;
	width: 30px;
	line-height: 58px;
	background: #fff;
	color: #333;
	position: absolute;
	margin: 0;
	border-radius: 0;
	font-size: 15px;
	text-align: center;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
	box-shadow: 0px 0px 10px #3333331c;
}
.most-popular .owl-carousel .owl-nav div:hover{
	color:#fff;
	background:#F7941D;
}
.most-popular .owl-carousel .owl-controls .owl-nav .owl-prev{
	left:0;
}
.most-popular .owl-carousel .owl-controls .owl-nav .owl-next{
	right:0;
}
/*======================================
   End Most Popular CSS
========================================*/

// Product styling
.single-product a {
	color: #333;
}

.single-product .button-head {
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.shop.checkout .single-widget.get-button .btn {
	padding-top: 11px;
	width: 100%;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff;
}

.shopping-cart .total-amount .right .button5 .btn {
	padding-top: 11px;
	width: 100%;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff;
}

// End index